/* CSS HSL from https://coolors.co/051923-40798c-70a9a1-b95f89-cfe0c3 */

:root {
  /* COLOR THEME */
  --rich-black: hsla(200, 75%, 8%, 1);
  --cerulean: hsla(195, 37%, 40%, 1);
  --verdigris: hsla(172, 25%, 55%, 1);
  --mulberry: hsla(332, 39%, 55%, 1);
  --tea-green: hsla(95, 32%, 82%, 1);
  --liver: hsla(315, 48%, 30%, 1);

  /* COLOR SYSTEM */
  --color-primary: var(--liver);
  --color-dark: var(--rich-black);
  --color-muted: var(--cerulean);
  --color-base: var(--verdigris);
  --color-bright: var(--tea-green);
  --color-accent: var(--mulberry);

  /* COLOR BY ELEMENT */
  --color-bg: var(--color-dark);
  --color-typo: var(--color-base);
  --color-heading: var(--color-bright);
  --bg-color: rgb(255, 239, 239);
  --item-bg-color: brown;
}

/*
* {
  color: var(--color-typo);
  letter-spacing: 0.5px;
}

h1 {
  color: var(--color-accent);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

body {
  background-color: var(--color-bg);
}
*/
