a:hover {
  /* opacity: 0.8; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

time {
  font-style: italic;
}

h1 {
  line-height: 1;
  margin-bottom: var(--space-3xs);
}
