a:hover {
  /* opacity: 0.8; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

.post-list {
  display: flex;
  flex-direction: column;

  gap: var(--space-l);
}

.post-list-item {
  display: flex;
  flex-direction: column;

  gap: var(--space-3xs);
}

.post-list-item * {
  margin: 0;
}
.post-list-item time {
  font-style: italic;
}
